* { margin: 0; padding: 0; }
        .dowebok { position: absolute; left: 50%; top: 50%; width: 430px; height: 600px; margin: -300px 0 0 -215px; border: 1px solid #fff; border-radius: 20px; overflow: hidden;}
        .logo { width: 104px; height: 104px; margin: 50px auto 80px; background: url(images/login.png) 0 0 no-repeat; }
        .form-item { position: relative; width: 360px; margin: 0 auto; padding-bottom: 30px;}
        .form-item input { width: 288px; height: 48px; padding-left: 70px; border: 1px solid #fff; border-radius: 25px; font-size: 18px; color: #fff; background-color: transparent; outline: none;}
        .form-item button { position: relative;left:55px;width: 250px; height: 50px; border: 0; border-radius: 25px; font-size: 18px; color: #1f6f4a; outline: none; cursor: pointer; background-color: #fff; }
        #username { background: url(images/emil.png) 20px 14px no-repeat; }
        #password { background: url(images/password.png) 23px 11px no-repeat; }
        .tip { display: none; position: absolute; left: 20px; top: 63px; font-size: 13px; color:#00FA9A; }
		.title{font-size: 30px; color: #fff; background-color: transparent; outline: none;text-align: center}
        .reg-bar { width: 360px; margin: 20px auto 0; font-size: 14px; overflow: hidden;}
        .reg-bar a { color: #fff; text-decoration: none; }
        .reg-bar a:hover { text-decoration: underline; }
        .reg-bar .reg { float: left; }
        .reg-bar .forget { float: right; }
        .dowebok ::-webkit-input-placeholder { font-size: 18px; line-height: 1.4; color: #fff;}
        .dowebok :-moz-placeholder { font-size: 18px; line-height: 1.4; color: #fff;}
        .dowebok ::-moz-placeholder { font-size: 18px; line-height: 1.4; color: #fff;}
        .dowebok :-ms-input-placeholder { font-size: 18px; line-height: 1.4; color: #fff;}
        .body {height: 100%;
					background: #fff url(../img/loginBackground.jpg) 50% 50% no-repeat;
					background-size: cover;}
@media screen and (max-width: 500px) {
            * { box-sizing: border-box; }
            .dowebok { position: static; width: auto; height: auto; margin: 0 30px; border: 0; border-radius: 0; }
            .logo { margin: 50px auto; }
            .form-item { width: auto; }
            .form-item input, .form-item button, .reg-bar { width: 100%; }
        }
        .footer{
        	position:fixed; bottom:5px; width:100%; text-align:center;font-size: 18px; color: #fff;
        }
        .forget{
        	font-size: 18px; color: #fff;position: absolute;left:10px;top:-10px;
        }
        .forget:hover,.forget:focus{color: #FF7F50;cursor:pointer }
        

        .login-btu:hover{background-color:#008B8B;}
        
        
        /* µØ»Î-¥”…œ */
		.a-bounce,.a-flip,.a-flash,.a-shake,.a-swing,.a-wobble,.a-ring{
			-webkit-animation:1s ease;-moz-animation:1s ease;-ms-animation:1s ease;animation:1s ease;}
		.a-fadein,.a-fadeinT,.a-fadeinR,.a-fadeinB,.a-fadeinL,.a-bouncein,.a-bounceinT,
			.a-bounceinR,.a-bounceinB,.a-bounceinL,.a-rotatein,.a-rotateinLT,.a-rotateinLB,
			.a-rotateinRT,.a-rotateinRB,.a-flipin,.a-flipinX,.a-flipinY{
				-webkit-animation:1s ease-out backwards;-moz-animation:1s ease-out backwards;
				-ms-animation:1s ease-out backwards;animation:1s ease-out backwards;}
		.a-fadeout,.a-fadeoutT,.a-fadeoutR,.a-fadeoutB,.a-fadeoutL,
			.a-bounceout,.a-bounceoutT,.a-bounceoutR,.a-bounceoutB,
			.a-bounceoutL,.a-rotateout,.a-rotateoutLT,.a-rotateoutLB,
			.a-rotateoutRT,.a-rotateoutRB,.a-flipout,.a-flipoutX,.a-flipoutY{
				-webkit-animation:1s ease-in forwards;-moz-animation:1s ease-in forwards;
				-ms-animation:1s ease-in forwards;animation:1s ease-in forwards;}
		.a-bounceinT{-webkit-animation-name:bounceinT;-moz-animation-name:bounceinT;
			-ms-animation-name:bounceinT;animation-name:bounceinT;}
		@-webkit-keyframes bounceinT{
		    0%{opacity:0;-webkit-transform:translateY(-100px);}
		    60%{opacity:1;-webkit-transform:translateY(30px);}
		    80%{-webkit-transform:translateY(-10px);}
		    100%{-webkit-transform:translateY(0);}
		}
		@-moz-keyframes bounceinT{
		    0%{opacity:0;-moz-transform:translateY(-100px);}
		    60%{opacity:1;-moz-transform:translateY(30px);}
		    80%{-moz-transform:translateY(-10px);}
		    100%{-moz-transform:translateY(0);}
		}
		@-ms-keyframes bounceinT{
		    0%{opacity:0;-ms-transform:translateY(-100px);}
		    60%{opacity:1;-ms-transform:translateY(30px);}
		    80%{-ms-transform:translateY(-10px);}
		    100%{-ms-transform:translateY(0);}
		}
		@keyframes bounceinT{
		    0%{opacity:0;transform:translateY(-100px);}
		    60%{opacity:1;transform:translateY(30px);}
		    80%{transform:translateY(-10px);}
		    100%{transform:translateY(0);}
		}
        
        