<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="../css/user.css">
<link rel="stylesheet" href="../layui-v2.4.5/layui/css/layui.css"
	media="all">
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script src="../js/jquery-3.3.1.min.js"></script>
<script src="../js/layui/layui.js"></script>
<script src="../js/user.js"></script>
<script type="text/javascript" src="../js/md5.js"></script>
<title>Department</title>
</head>
<body>
	<div class="demoTable">
		搜索ID：
		<div class="layui-inline">
			<input class="layui-input" name="id" id="demoReload"
				autocomplete="off">
		</div>
		<button class="layui-btn" data-type="reload" >搜索</button>
	</div>
	
	<table class="layui-hide" id="user" lay-filter="user"></table>
	<script type="text/html" id="barDemo">
  			<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
  			<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
        	 </script>

	<fieldset class="layui-elem-field layui-field-title"
		style="margin-top: 50px;">
		<legend>添加/修改用户</legend>
	</fieldset>
	
	<form class="layui-form layui-form-pane" target="nm_iframe" method="POST" lay-filter="form1">

		<div class="layui-form-item">
			<div class="layui-inline">
				<label class="layui-form-label">用户昵称</label>
				<div class="layui-input-inline">
					<input type="text" name="userName" lay-verify="required"
						placeholder="请输入" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-inline">
				<label class="layui-form-label">密码</label>
				<div class="layui-input-inline">
					<input type="password" name="passWord" placeholder="请输入密码"
						autocomplete="off" class="layui-input">
				</div>
				<div class="layui-form-mid layui-word-aux">请务必填写用户名</div>
			</div>
		</div>

		<div class="layui-form-item">
			<div class="layui-inline">
				<label class="layui-form-label">员工姓名</label>
				<div class="layui-input-inline">
					<input type="text" name="name" lay-verify="required"
						placeholder="请输入" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-inline">
				<label class="layui-form-label">银行卡号</label>
				<div class="layui-input-inline">
					<input type="text" name="creditCard" lay-verify="required"
						placeholder="请输入" autocomplete="off" class="layui-input">
				</div>
			</div>
		</div>


		<div class="layui-form-item">
			<div class="layui-inline">
				<label class="layui-form-label">手机</label>
				<div class="layui-input-inline">
					<input type="tel" name="telePhoneNumber" lay-verify="required|phone"
						autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-inline">
				<label class="layui-form-label">邮箱</label>
				<div class="layui-input-inline">
					<input type="text" name="email" 
						autocomplete="off" class="layui-input">
				</div>
			</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label">身份证号码</label>
			<div class="layui-input-inline">
				<input type="text" name="idCard" lay-verify="identity"
					placeholder="" autocomplete="off" class="layui-input">
			</div>
		</div>
		</div>

		<div class="layui-form-item" pane="">
			<label class="layui-form-label">性别</label>
			<div class="layui-input-block">
				<input type="radio" name="sex" value="1" title="男" checked="">
				<input type="radio" name="sex" value="0" title="女">
			</div>
		</div>
		
		<div class="layui-form-item" pane="">
			<label class="layui-form-label">账户类型</label>
			<div class="layui-input-block">
				<input type="radio" name="type" value="0" title="管理员" checked="">
				<input type="radio" name="type" value="1" title="用户">
			</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label">所属部门</label>
			<div class="layui-input-block">
				<select id="select" name="departmentId" >
				</select>
			</div>
		</div>

		<div class="layui-form-item">
			<button class="layui-btn" lay-submit="" lay-filter="demo2" id="layui-btn1">提交</button>
		</div>
		<input type="hidden" name="hidden">
	</form>
	<iframe id="id_iframe" name="nm_iframe" style="display:none;"></iframe>

</body>
</html>